body{
    background-image: url("../images/postermaking.jpg");;
}

/* login main container */
.login-container{
    display: flex;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

/* sign up box container */
.box-center{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: auto;
}

/* text header */
.header{
    display: flex;
    background-color: #0021f3;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white;
}

/* username input */
.input {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 90%;
    padding: 5px;
    margin-bottom: 20px;
}

/* text top */
.text{
    display: flex;
    margin-top: 40px;
}

/* sign in button */
.sign-in-button{
    display: flex;
    background-color: #0021f3;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    padding: 5px;
    width: 94%;
    font-weight: bold;
}

/* sign in hover */
.sign-in-button:hover{
    background-color: #007FFF;
}

/* Sign up container */
.sign-up-cont{
    /* background-color: red; */
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

/* Override Link Display */
.sign-up-cont a{
    text-decoration: none;
}

/* sign up button */
.sign-up-button{
    display: flex;
    /* background-color: pink; */
    cursor: pointer;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
}

/* sign up hover */
.sign-up-button:hover{
    background-color: #45b6fe;
    border-radius: 25px;
}

/* input fields container */
.fields_container{
    margin-left: 20px;
}

/* message prompt login validation*/
.login-failed{
    /* background-color: pink; */
    color: red;
    margin-top: 20px;
}