body{
    background-image: url("../images/ict_wallpaper.png");
}

/* main container */
.register-container{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
}

/* main box container*/
.box {
    display: flex;
    background-color: white;
    border: 1px solid;
    width: 50%;
    margin: auto;
    padding: 15px;
    margin-top: 50px;
}

/* text all */
.text-top{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    width: 35%;
    margin-top: 20px;
}

/* checkbox to show password */
.checkboxpass{
    margin-top: 10px;
    /* background-color: pink; */
}

/* main input container */
.input-container {
    display: flex;
    flex-direction: column;
    /* background-color: #c0c0c0 ; */
    width: 70%;
    height: 25px;
    padding: 5px;
    /* margin-top: 20px; */
}

/* register button */
.reg-button{
    display: flex;
    flex-direction: row;
    background-color: #1276B7;
    margin-top: 20px;
    width: 72%;
    justify-content: center;
    cursor: pointer;
    color: white;
}

/* hover background */
.reg-button:hover{
    background-color: #0021f3;
}

/* sjp logo container */
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
    width: 30%;
}

/* message prompt password validation*/
.pass-validation{
    /* background-color: pink; */
    margin-top: 20px;
    color: red;
}