
body {
    background-color: #d6eaff; 

}

/* main container top */
.top-Container {
    display: flex;
    background-color: #fdfdff ;
}

/* top logo container */
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    font-size: 15px;
}

/* text logo container */
.text-logo-cont {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    line-height: 0.1;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

/* OVERRIDE top img cont*/
.top-img-Container a {
    flex-direction: row;
    margin-left: 20px;
    font-size: 20px;
    color:  black;
    
}

/* Header feature */
.top-img-Container {
    display: flex;
    flex-direction: column;
    background-color: #1276B7;
    /* margin-top: 10px; */
    align-items: left;
    cursor: pointer;
}

/* text container of the features */
.text-cont-top {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    padding: 15px;
    /* background-color: aqua; */
}

/* override text container */
.text-cont-top p{
    margin: 10px;
    color: black;
    font-weight: bold;
}

/* hover on click the features */
.text-cont-top p:hover {
    color: white;
}

/* main container inside the course */
.course-cont {
    display: none;
    flex-direction: row;
    height: 150px;
    background-color: #AECCE4;
    height: auto;
    width: auto;
}

/* sub text course cont */
.text-course-cont {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    line-height: 1.3;
    font-size: 19px;
}

/* child text */
.text-courses-Offer {
    display: flex;
    flex-direction: row;
}

/* main container inside the scholarship */
.scholar-cont {
    display: none;
    flex-direction: row;
    height: auto;
    background-color: #AECCE4;
}

/* scholarship sub container */
.text-scholar-cont {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    line-height: 1.3;
    font-size: 19px;
}

/* child text scholarship */
.text-scholar-Offer {
    display: flex;
    flex-direction: row;
}

/* achivements main container */
.achive-cont {
    display: none;
    flex-direction: row;
    height: 35%;
    background-color: #AECCE4;
}

/* sub text of achivements container */
.sub-text-achive{
    display: flex;
    flex-direction: column;
    /* background-color: violet; */
    width: 50%;
    font-size: 19px;
    margin-left: 50px;
    line-height: 1.3;

}

/* child text achivements */
.text-achive {
    display: flex;
    flex-direction: row;
}

/* about us main ontainer */
.aboutUs-cont {
    display: none;
    flex-direction: row;
    height: 35%;
    background-color: #AECCE4;
    justify-content: center;
}

/* text inside the about us */
.text-about-us{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    line-height: 1.3;
}

/* main container for slide show */
.slideshow-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

/* override image slide video */
.image-slides video{
    width: 100%;
    height: 80vh;
    object-fit: fill;
    position: absolute;
}

/* override image slide */
.image-slides img{
    width: 100%;
    height: 100%;
}

/* clickable button container  */
.btn-left, .btn-right{
    flex-direction: column;
    position: absolute;
    top: 40%;
    background-color: transparent;
    font-size: 50px;
    color: white;
}

/* button left margin */
.btn-left{
    margin-left: 20px;
}

/* button right margin */
.btn-right{
    right: 20px;
}

/* clickable dot, below the img slides */
.dot-cont {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 50%;
}

/* dot styles */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.image-slides {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* text main container inside the img slides */
.text-cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 65%;
    top: 20%;
    left: 20%;
    font-size: x-large;
    color:  white;
    line-height: 1.5;
    word-spacing: 10px;
}

/* Mission text right position */
.mission-text-right {
    text-align: right;
}

/* bottom main container */
.sjp-cont {
    display: flex;
    flex-direction: row;
    background-color: #AECCE4;
}

/* News & Information container */
.text-bottom {
    display: flex;
    flex-direction: column;
    background-color: #1276B7;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    margin-right: 5px;
    padding: 10px;
}

/* image buttom container */
.img-bottom-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    text-align: center;
}

/* text event */
.text-event {
    display: flex;
    flex-direction: column;
    background-color: #1276B7;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

/* righ container events */
.bottom-right{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* poster making container*/
.btm-img{
    display: flex;
    flex-direction: row;
    background-color: #AECCE4;
    margin-top: 10px;
    word-spacing: 5px;
    font-size: 15px;
}

/* bottom footer */
.footer{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

/* icons container */
.icons-main-cont {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: white; 
    /* margin-bottom: 5px; */
    cursor: pointer;
}

/* override icons container */
.icons-main-cont a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-left: 25px;
}

/* buttom logo container */
.btm-logo{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin-top: 10px;
}











