
body {
    background-color: #d6eaff;
    font-family: Tahoma, sans-serif;
}

/* MAIN HEADER CONT */
.header-cont {
    display: flex;
    flex-direction: row;
    background-color: blue;
    padding: 10px;
    font-family: bolder;
}

/* personal information */
.display-info{
    margin: auto;
    margin-right: 50px;
    background-color: aqua;
}

/* TEXT HEADER*/
.text-cont {
    flex-direction: column;
    margin-left: 30px;
    color: white;
    padding: 15px;
    word-spacing: 5px;
    /* background-color: green; */
}

/* MAIN INQUIRE GRADES COLUMN */
.column-left {
    display: flex;
    flex-direction: column;
    background-color: violet;
    width: 20%;
    /* height: auto; */
    align-items: left;
    margin-top: 0;
}

/* SUB-TEXT COLUMN LEFT */
.sub-text-left {
    padding: 15px;
    /* margin-left: 25px; */
    background-color: white;
    word-spacing: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    
}

/* ICONS COLOR OVERRIDE */
.sub-text-left i{
    color: black;
}

/* CLICK HOVER */
.sub-text-left:hover{
    background-color: #454545;
    color: white;
}

.sub-text-left:hover i{
    color: white;
}

/* MY GRADES DISPLAY */
.grades-dis-cont {
    display: none;
    /* position: absolute; */
}

/* STATEMENT OF ACCOUNT DISPLAY */
.acc-dis-cont {
    display: none;
}


/* CLEARANCE CONTAINER */
.clearance-cont {
    display: none;
    flex-direction: column;
    width: 100%;
}
/* Table */
.clearance-cont table{
    padding: 10px;
}

.clearance-cont th{
    padding: 10px;
}

.clearance-cont td{
    padding: 10px;
}

/* main periods container */
.main-periods-cont{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    margin-top: 5px;
    padding: 10px;
    width: 100%;
}

/* periodical container */
.periods{
    display: flex;
    /* background-color: pink; */
    margin-left: 20px;
    color: black;
    font-weight: normal;
    cursor: pointer;
}

/* period style hover */
.periods:hover{
    color: #1276B7;
}

/* .inside-clearance-cont{
    display: flex;
    flex-direction: column;
    background-color: pink;
    height: 100%;
} */

.clearance-display{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    margin-bottom: 10px;
}

/* Main or Center Cointainer */
.main-cont{
    display: flex;
    flex-direction: row;
}

/* Main Container right */
.main-column-right{
    margin-left: 10px;
    width: auto;
    background-color: white;
}

.clearance-table-cont{
    margin-left: 10px;
}

